/*csslint fallback-colors: false, order-alphabetical: false, box-model: false*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header-container {
  background: url(banner.jpg);
  background-size: 100%;
  position: relative;
  height: 30vw;

}
header {
  width: 70%;
  font-weight: 300;
}

.company-intro {
    width: 50%;
    background-color: rgba(40, 70, 66, 0.4);
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.65);
    top: 50px;
    right: 10vw;
    position: absolute;
    padding: 20px;
    font-size: 20px;
    
}

.company-image {
    float: right;
}

.main-container{
    padding-left: 200px;
    padding-right: 100px;
    margin: auto;
    font-size: 18px;
}


footer{
    text-align: center;
    color: white;
    background-color: #13302E;
    padding: 20px 0 20px 0;
    background-color: darkslategray;
    margin-top: 50px;
    margin-bottom: 10px;
}
.main-menu {
    list-style:none;
    
     
}
.main-menu-item {
    display: inline-block;
    font-size: 25px;
    padding: 20px 100px;
    background:rgba(63,117,134,0.3);
    color: white;
    position: relative;
    font-stretch:ultra-condensed;
    border-left-color: rgba(129,225,255,0.63);
  
 
}

.main-menu-item:hover, .submenu-item:hover {
    background:#4cc3c3;
   
    
}
.main-menu-item:hover > .submenu {
    visibility: visible;
    opacity: 1;
  
}

.submenu {
   list-style: none;
    margin: 0;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    padding: 5px 5px 5px 5px;
    border-left-color: rgba(129,225,255,0.63);
    border-left-style: solid;
    border-left-width: 5px;
}

.submenu-item {
    padding: 20px 10px;
    background-color:
    transition: background-color all 0.2s ease-in-out;
     background:rgba(63,117,134,0.3);
}
